/* Reset styles */
* {
    *::before,
    *::after {
        box-sizing: border-box;
    }
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

/* center the container vertical and horizontal */
/*
body {
    display: flex;
    justify-content: center;
}

#container {
    width: 500px;
    height: 500px;
    border: 1px dotted blue;
}

.box {
    width: 2rem;
    border: 1px solid black;
}
*/

body {
    display: flex;
    justify-content: center;
}

#container {
    
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    border: 1px dotted blue;
}

.box {
    display: flex;
    flex-wrap: nowrap;
  }